{% extends 'base.html.twig' %}

{% block content %}
<table class="listing">
    <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th><!-- Certifications --></th>
        <th>Location</th>
        <th>Available</th>
        <th>Contact</th>
        <th>Updated</th>
    </tr>
    {% for developer in developers %}
        <tr class="{{ loop.index is odd ? "odd" : "even" }}">
            <td>
                <div class="upvote">
                    <i class="fa fa-caret-up"></i>
                    <span class="vote-count">25</span>
                </div>
            </td>
            <td>
                {% if developer.imageUrl() %}
                    <div class="image-wrapper">
                        <img src="{{ developer.imageUrl() }}">
                    </div>
                {% endif %}
            </td>
            <td>
                <span>{{ developer.name() }}</span>
            </td>
            <td>
                {% if developer.certificationBoardUrl() %}
                    <a href="{{ developer.certificationBoardUrl() }}"><i class="fa fa-certificate tooltip" title="Magento Certification Advisory Board"></i></a>
                {% endif %}
                {% if developer.certifiedDeveloperUrl() %}
                    <a href="{{ developer.certifiedDeveloperUrl() }}"><i class="fa fa-certificate tooltip" title="Magento Certified Developer"></i></a>
                {% endif %}
                {% if developer.certifiedDeveloperPlusUrl() %}
                    <a href="{{ developer.certifiedDeveloperPlusUrl() }}"><i class="fa fa-certificate tooltip" title="Magento Certified Developer Plus"></i></a>
                {% endif %}
                {% if developer.certifiedSolutionSpecialistUrl() %}
                    <a href="{{ developer.certifiedSolutionSpecialistUrl() }}"><i class="fa fa-certificate tooltip" title="Magento Certified Solution Specialist"></i></a>
                {% endif %}
                {% if developer.certifiedFrontendDeveloperUrl() %}
                    <a href="{{ developer.certifiedFrontendDeveloperUrl() }}"><i class="fa fa-certificate tooltip" title="Magento Certified Frontend Developer"></i></a>
                {% endif %}
            </td>
            <td>
                {{ developer.location() }}
            </td>
            <td>
                <span class="tooltip" title="Next availability for hire / project work">
                    {% if developer.nextAvailable() %}
                        {{ developer.nextAvailable()|date('M Y') }}
                    {% else %}
                        No
                    {% endif %}
                </span>
            </td>
            <td>
                {% if developer.twitterUsername() %}
                    <a href="https://twitter.com/{{ developer.twitterUsername() }}"><i class="fa fa-twitter tooltip" title="Twitter"></i></a>
                {% endif %}
                {% if developer.githubUsername() %}
                    <a href="https://github.com/{{ developer.githubUsername() }}"><i class="fa fa-github tooltip" title="GitHub"></i></a>
                {% endif %}
                {% if developer.websiteUrl() %}
                    <a href="{{ developer.websiteUrl() }}"><i class="fa fa-globe tooltip" title="Visit {{ developer.websiteUrl() }}"></i></a>
                {% endif %}
            </td>
            <td>
                <span class="last-updated">{{ developer.lastUpdatedFriendly() }}</span>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}