{% extends 'base.html.twig' %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Github</th>
        <th>Twitter</th>
        <th>Website</th>
        <th>City</th>
        <th>Country</th>
        <th>Available</th>
        <th>Last Updated</th>
    </tr>
    {% for developer in developers %}
        <tr>
            <td>{{ developer.name }}</td>
            <td>
                {% if developer.github_username %}
                    <a href="https://github.com/{{ developer.github_username }}">{{ developer.github_username }}</a>
                {% else %}
                    n/a
                {% endif %}
            </td>
            <td>
                {% if developer.twitter_username %}
                    <a href="https://twitter.com/{{ developer.twitter_username }}">{{ developer.twitter_username }}</a>
                {% else %}
                    n/a
                {% endif %}
            </td>
            <td>
                {% if developer.url_website %}
                    <a href="{{ developer.url_website }}">Website</a>
                {% else %}
                    n/a
                {% endif %}
            </td>
            <td>{{ developer.city }}</td>
            <td>{{ developer.country }}</td>
            <td>
                {% if developer.next_available %}
                    {{ developer.next_available|date('M Y') }}
                {% else %}
                    No
                {% endif %}
            </td>
            <td>{{ developer.last_updated|date('M j, Y') }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}