{% extends 'base.html.twig' %}

{% block content %}
<table class="listing">
    <thead>
        <tr>
            <th class="sortable">Rating</th>
            <th>Updated</th>
            <th>Pic</th>
            <th class="sortable">Name</th>
            <th><!-- Certifications --></th>
            <th class="sortable">Company</th>
            <th class="sortable">Location</th>
            <th>Available</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
    {% for developer in developers %}
        <tr class="{{ loop.index is odd ? "odd" : "even" }} {{ developer.username == user.username ? "selected" : "" }}" data-user-id={{ developer.id() }}>
            <td>
                <div class="upvote">
                    <a href="javascript://"><i class="fa fa-caret-up"></i></a>
                    {% if developer.voteCount() >= 4 %}
                        <i class="fa fa-rocket tooltip" title="This developer has received {{ developer.voteCount() }} votes: {{ developer.votingUsernames() }}"></i>
                    {% elseif developer.voteCount() >= 1 %}
                        <i class="fa fa-star tooltip" title="This developer has received {{ developer.voteCount() }} vote: {{ developer.votingUsernames() }}"></i>
                    {% else %}
                        <i class="fa fa-meh-o tooltip" title="This developer hasn't received any upvotes yet"></i>
                    {% endif %}
                    <span class="vote-count">{{ developer.voteCount() }}</span>
                </div>
            </td>
            <td>
                <span class="last-updated">{{ developer.lastUpdatedFriendly() }}</span>
            </td>
            <td>
                {% if developer.imageUrl() %}
                    <div class="image-wrapper">
                        <img src="{{ developer.imageUrl() }}">
                    </div>
                {% endif %}
            </td>
            <td>
                {% if developer.githubUsername() %}
                    <a href="/{{ developer.githubUsername() }}" target="_blank">{{ developer.name() }}</a>
                {% else %}
                    <span>{{ developer.name() }}</span>
                {% endif %}
            </td>
            <td>
                {% if developer.certificationBoardUrl() %}
                    <a href="{{ developer.certificationBoardUrl() }}" target="_blank"><i class="fa fa-certificate tooltip" title="Magento Certification Advisory Board"></i></a>
                {% endif %}
                {% if developer.certifiedDeveloperUrl() %}
                    <a href="{{ developer.certifiedDeveloperUrl() }}" target="_blank"><i class="fa fa-certificate tooltip" title="Magento Certified Developer"></i></a>
                {% endif %}
                {% if developer.certifiedDeveloperPlusUrl() %}
                    <a href="{{ developer.certifiedDeveloperPlusUrl() }}" target="_blank"><i class="fa fa-certificate tooltip" title="Magento Certified Developer Plus"></i></a>
                {% endif %}
                {% if developer.certifiedSolutionSpecialistUrl() %}
                    <a href="{{ developer.certifiedSolutionSpecialistUrl() }}" target="_blank"><i class="fa fa-certificate tooltip" title="Magento Certified Solution Specialist"></i></a>
                {% endif %}
                {% if developer.certifiedFrontendDeveloperUrl() %}
                    <a href="{{ developer.certifiedFrontendDeveloperUrl() }}" target="_blank"><i class="fa fa-certificate tooltip" title="Magento Certified Frontend Developer"></i></a>
                {% endif %}
            </td>
            <td>
                <span>{{ developer.company() }}</span>
            </td>
            <td>
                {{ developer.location() }}
            </td>
            <td>
                <span class="tooltip" title="Next availability for hire / project work">
                    {% if developer.nextAvailable() %}
                        {{ developer.nextAvailableFriendly() }}
                    {% else %}
                        No
                    {% endif %}
                </span>
            </td>
            <td>
                {% if developer.twitterUsername() %}
                    <a href="https://twitter.com/{{ developer.twitterUsername() }}" target="_blank"><i class="fa fa-twitter tooltip" title="Twitter"></i></a>
                {% endif %}
                {% if developer.githubUsername() %}
                    <a href="https://github.com/{{ developer.githubUsername() }}" target="_blank"><i class="fa fa-github tooltip" title="GitHub"></i></a>
                {% endif %}
                {% if developer.websiteUrl() %}
                    <a href="{{ developer.websiteUrl() }}" target="_blank"><i class="fa fa-globe tooltip" title="Visit {{ developer.websiteUrl() }}"></i></a>
                {% endif %}
                {% if developer.stackoverflowUrl() %}
                    <a href="{{ developer.stackoverflowUrl() }}" target="_blank"><i class="fa fa-stack-exchange tooltip" title="Stack Overflow"></i></a>
                {% endif %}
                {% if developer.linkedinUrl() %}
                    <a href="{{ developer.linkedinUrl() }}" target="_blank"><i class="fa fa-linkedin tooltip" title="LinkedIn"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
