{% extends 'base.html.twig' %}

{% block content %}
<table class="listing">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Location</th>
        <th>Available</th>
        <th>Certifications</th>
        <th>Contact</th>
        <th>Updated</th>
    </tr>
    {% for developer in developers %}
        <tr>
            <td>
                {% if developer.image_url %}
                    <div class="image-wrapper">
                        <img src="{{ developer.image_url }}">
                    </div>
                {% endif %}
            </td>
            <td>{{ developer.name }}</td>
            <td>
                {{ developer.location }}
            </td>
            <td>
                {% if developer.next_available %}
                    {{ developer.next_available|date('M Y') }}
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {% if developer.certified_developer_url %}
                    <a href="{{ developer.certified_developer_url }}"><i class="fa fa-certificate tooltip" title="Magento Certified Developer"></i></a>
                {% endif %}
                {% if developer.certified_developer_plus_url %}
                    <i class="fa fa-certificate tooltip" title="Magento Certified Developer Plus"></i>
                {% endif %}
            </td>
            <td>
                {% if developer.email %}
                    <a href="mailto:{{ developer.email }}"><i class="fa fa-envelope-o tooltip" title="Email {{ developer.name }}" ></i></a>
                {% endif %}
                {% if developer.twitter_username %}
                    <a href="https://twitter.com/{{ developer.twitter_username }}"><i class="fa fa-twitter tooltip" title="Twitter"></i></a>
                {% endif %}
                {% if developer.github_username %}
                    <a href="https://github.com/{{ developer.github_username }}"><i class="fa fa-github tooltip" title="GitHub"></i></a>
                {% endif %}
                {% if developer.url_website %}
                    <a href="{{ developer.url_website }}"><i class="fa fa-globe tooltip" title="Visit {{ developer.url_website }}"></i></a>
                {% endif %}
            </td>
            <td>{{ developer.last_updated_friendly }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}