{% extends 'base.html.twig' %}

{% block content %}
    <div class="write-post">
        <a href="/posts/new"><i class="fa fa-pencil-square-o"></i> What are you working on?</a>
    </div>
    <table class="listing">
        <tbody>
        {% for post in posts %}
            <tr data-post-id={{ post.id() }}>
                <td>
                    <div class="upvote">
                        <span class="upvote-wrapper">
                            <a class="upvote" href="javascript://"><i class="fa fa-caret-up"></i></a>
                        </span>
                        <span class="post-vote-count-wrapper">
                            <span class="post-vote-count">{{ post.voteCount() }}</span>
                        </span>
                    </div>
                </td>
                <td>
                    {% if post.getUser().imageUrl() %}
                        <div class="image-wrapper user-thumbnail">
                            <a href="/{{ post.getUser().getGithubUsername() }}/posts"><img src="{{ post.getUser().imageUrl() }}"></a>
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a href="/posts/{{ post.getId() }}/">{{ post.getSubject() }}</a>
                </td>
                <td>
                    <span class="last-updated">{{ post.createdAtFriendly() }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="about">
        <i class="fa fa-rocket"></i> {{ local_config.getRankRocketMinimumVotecount() }} Votes.
        <i class="fa fa-star"></i> {{ local_config.getRankStarMinimumVotecount() }} Vote(s).
        <i class="fa fa-meh-o"></i> {{ local_config.getRankMehMinimumVotecount() }} Votes.
    </div>

{% endblock %}
