<div class="post-upvote" data-post-id={{ post.id() }}>
    <span class="post-upvote-wrapper">
        <a class="post-upvote-link" href="javascript://"><i class="fa fa-caret-up"></i></a>
    </span>
    <span class="post-vote-count-wrapper {{ post.voteCount() ? "tooltip" : "" }}" title="Upvoted by {{ post.getUpvotersCsv() }}">
        <span class="post-vote-count">{{ post.voteCount() }}</span>
    </span>
    {% if post.isNew() %}
        <i class="fa fa-bolt new tooltip" title="This was posted in the last {{ local_config.getNumberOfHoursForNew() }} hours"></i>
    {% endif %}
</div>

<div class="post-info">
    <a href="{{ post.getUrl() }}">{{ post.getSubject() }}</a>
    <span class="last-updated">{{ post.createdAtFriendly() }}</span>

    {% if not hideTags %}
    <div class="tags">
        {% for tag in post.fetchTags() %}
            <span class="tag">
            <i class="fa fa-tag"></i>
            <a href="{{ tag.getUrl() }}">{{ tag.getTagText() }}</a>
        </span>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% if not hideImage and post.getUser().imageUrl() %}
    <div class="image-wrapper user-thumbnail">
        <a href="{{ post.getUser().getUrl() }}"><img class="lazyload" data-src="{{ post.getUser().imageUrl() }}" ></a>
    </div>
{% endif %}
