<div class="post post-{{ post.getId() }}">
    <div class="post-upvote" data-post-id={{ post.id() }}>
        <span class="post-upvote-wrapper">
            <a class="post-upvote-link" href="javascript://"><i class="fa fa-caret-up"></i></a>
        </span>
        <span class="post-vote-count-wrapper {{ post.voteCount() ? "tooltip" : "" }}" title="Upvoted by {{ post.getUpvotersCsv() }}">
            <span class="post-vote-count">{{ post.voteCount() }}</span>
        </span>
    </div>

    <div class="post-info">
        <a href="{{ post.getUrl() }}">{{ post.getSubject() }}</a>
        <span class="last-updated">{{ post.createdAtFriendly() }}</span>
        <div class="tags">
            {% for tag in post.fetchTags() %}
                <span class="tag">
                <i class="fa fa-tag"></i>
                <a href="{{ tag.getUrl() }}">{{ tag.getTagText() }}</a>
            </span>
            {% endfor %}
        </div>
    </div>
</div>

